<h1><%= I18n.t('edit_radio') + @radio_list.name %></h1>

<%= render 'form' %>

<%= link_to image_tag("file_show.png", :class => 'fluid_image', :border=>0,:alt => 'Show'), @radio_list %> |
<%= link_to image_tag("back.png", :class => 'fluid_image', :border=>0,:alt => 'Back'), radio_lists_path %>
